footer#footer.page-footer(role="contentinfo")
	.main-footer
		.container
			.inner
				.footer-contacts
					.footer-logo
						a(href="#")
							img(src="images/footer-logo.svg",width='190' , height='42', alt="stockforex")
					.contact-info
						strong.title Business info:
						.content
							p Lorem Ipsum is simply dummy text of the printing.
							strong
								|Tel: 
								|
								a(href='tel:447700003493') +44 77 0000 3493
							strong 
								| E-mail: 
								|
								a(href='mailto:support@stock.com') support@stock.com
				.footer-nav
					ul.footer-list
						li: a(href='#') Accounts
						li: a(href='#') Platforms
						li: a(href='#') Products
						li.active: a(href='#') Tools
						li: a(href='#') About us
						li: a(href='#') Education
						li: a(href='#') Legal
					a(href='#').btn.btn-otline-warning trade now
	.sub-footer
		.container
			.text
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
