.slider-item {
	@include v-center(494px);

	background-size: cover;
	background-position: center;
	padding: 20px 0;

	@include media('≥tablet') {
		@include v-center(766px);
	}

	@include media('≥desktop') {
		@include v-center(900px);

		padding-top: 70px;
		padding-bottom: 10px;
	}

	> * {
		align-items: center;
	}

	.text-holder {
		max-width: 80%;
    padding: 0 10px;
    padding-top: 14px;
		text-align: center;

    @include media('≥tablet') {
			max-width: 850px;
			padding-top: 0;
    }
	}

	h1 {
		color: $white;
		line-height: 1.26;
		letter-spacing: .05em;
		margin-bottom: 45px;

		@include media('≥desktop') {
			margin-bottom: 28px;
		}
	}

	.text {
		max-width: 800px;
		margin-left: auto;
    margin-right: auto;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 800;
		color: $orange;

		@include media('≥tablet') {
			font-size: 35px;
		}  

		p {
			margin-bottom: 0;
		}
	}
}

.hero-slider {
	position: relative;
	z-index: 1;

	.slick-dots {
		@extend %listreset;
		
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 38px;

		@include media('≥tablet') {
			bottom: 45px;
		}

		li {
			+ li {
				margin-left: 10px;

				@include media('≥tablet') {
					margin-left: 17px;
				}
			}

			&.slick-active {
				button {
					background-color: $orange;
				}
			}
		}

		button {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			padding: 0;
			border: 1px solid $orange;
			font-size: 0;
			background-color: transparent;

			@include media('≥tablet') {
				width: 20px;
				height: 20px;
			}
		}
	}
}